@import "../../config.scss";

.burger-menu-btn {
  display: none;
  position: relative;
  width: 70px;
  height: 33px;
  border: none;
  background-color: inherit;
  transition: 0.3s;
  &__line {
    top: 15.5px;
    left: 33%;
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 2px;
  }
  &::after,
  &::before {
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    left: 33%;
    background-color: #ffff;
    transition: 0.2s;
  }
  &::before {
    top: 10px;
  }
  &::after {
    bottom: 10px;
  }
}
.close-burger span {
  transform: scale(0);
}
.close-burger::before {
  transform: rotate(45deg);
  top: 16px;
}
.close-burger::after {
  transform: rotate(-45deg);
  bottom: 15px;
}
.burger-menu {
  border-radius: 10px 0 0 10px;
  color: #fff;
  position: absolute;
  z-index: 100;
  top: 70px;
  right: 0;
  background-color: #1e1e1e;
  transition: 0.3s;
  border-top: 1px solid $primary-color;
  list-style-type: none;
  animation: burger-animate 0.3s;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 236px;
    min-height: 83px;
    border-bottom: 1px solid $primary-color;
    transition: 0.2s;
    @include font("Arial", 400, 17.6px, 20px);
    color: #fff;
    & a {
      color: #fff;
    }
    &:hover span {
      color: $primary-color;
    }
    &:last-child {
      border-radius: 10px 0 0 10px;
      color: $primary-color;
    }
  }
}

@keyframes burger-animate {
  from {
    transform: translateX(210px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1070px) {
  .burger-menu-btn {
    display: block;
  }
}

@media (max-width: 820px) {
  .burger-menu {
    &__link {
      width: 180px;
      min-height: 55px;
      @include font("Arial", 400, 17.6px, 20px);
    }
  }
}
