@import "../../config.scss";

.category-header {
  position: relative;
  padding-top: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-header-name {
  &__subtitle {
    @include font("Arial", 400, 17.6px, 20px);
    color: $primary-color;
  }
  &__title {
    @include font("Jost", 400, 44px, 45px);
    color: #fff;
    margin-top: 20px;
    text-transform: capitalize;
  }
}

.category-header-filter-btn {
  display: none;
  background-color: inherit;
  color: #fff;
  align-items: center;
  gap: 5px;
  @include font("Jost", 400, 17.6px, 20px);
}

.category-header-filters {
  display: flex;
  gap: 10px;
}
.category-header-filters__filter {
  text-align: center;
  @include font("Jost", 400, 17.6px, 20px);
  color: #fff;
  background: rgba(46, 46, 46, 0.96);
  border-radius: 30px;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  & select {
    display: block;
    margin-top: 5px;
    text-align: center;
    background-color: inherit;
    color: $primary-color;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

@keyframes popup-animate {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 1270px) {
  .category-header-filter-btn {
    display: flex;
  }
  .category-header-filters {
    position: absolute;
    top: 150px;
    right: 0;
    flex-direction: column;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid $primary-color;
    z-index: 3;
    animation: popup-animate 0.3s;
  }
}

@media (max-width: 620px) {
  .category-header {
    padding-top: 53px;
  }
  .category-header-name {
    &__subtitle {
      @include font("Arial", 400, 15px, 20px);
    }
    &__title {
      @include font("Jost", 400, 30px, 35px);
    }
  }
}
